---
layout: base.njk
---
<header class="post-header">
    <p><span class="posttoparticle">Article</span><span class="posttoptag">{{tags[0]}}</span></p>

    <h1 class="post-title">{{title}}</h1>

    <p>{{author}}</p>
    <p class="post-header-time">{{date|readabledate}} • (reading time)</p>
</header>

{{content|safe}}
