*,
*::before,
*::after {
box-sizing: border-box;
}
* {
margin: 0;
}
html {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-rendering: optimizeLegibility;
text-size-adjust: 100%;
font-size: 20px;
}
html:focus-within {
scroll-behavior: smooth;
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
height: auto;
}
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

:target {
scroll-margin-top: 2em;
}

/* The above is the "css reset" component provided by Alex. It can help to unify the visual experience across devices. */
/* ----------------------------------------------------- */

/* ANCHOR base below */

:root {
    --font-primary: 'Raleway', sans-serif;
    --font-secondary: 'Libre Baskerville', serif;
    --font-functional: 'Redressed', cursive;
    --font-quote: 'Courgette', cursive;
    --font-bold: 'Rowdies', cursive;
    --color-primary: #222426;
    --color-secondary: #73777D;
    --color-accent: #d29d00;
    --color-bg: hsla(60, 100%, 99%, 1);
    --color-divider: #E1E3E6;
    --line-height: 1.6rem;
    --spacing-half: calc(var(--line-height) / 2);
    --spacing: var(--line-height);
    --spacing-2: calc(var(--line-height) * 2);
    --spacing-3: calc(var(--line-height) * 3);
    --spacing-4: calc(var(--line-height) * 4);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #E1E3E6;
        --color-secondary: #909499;
        --color-accent: #d29d00;
        --color-bg: #222426;
        --color-divider: #3B3D40;
    }
}

html {
    font-family: var(--font-primary);
    color: var(--color-primary);
    line-height: var(--line-height);
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-secondary);
    line-height: 1.5;
}

p {
    line-height: 1.7;
}

a {
    text-decoration: none;
    color: var(--color-primary);
    transition: color 0.15s ease-out;
}

a:hover {
    color: var(--color-accent);
}

nav {
    display: flex;
    align-items: center;
    padding-top: var(--spacing);
    font-family: var(--font-secondary);
}

nav a {
    margin-right: var(--spacing-half);
    color: var(--color-secondary);
    font-size: 0.8em;
    font-weight: bold;
    line-height:1;
}

nav a.active {
    color: var(--color-primary);
    position: relative;
}

nav a.active::before {
    content: "";
    width: 120%;
    height: 3px;
    background: var(--color-accent);
    position: absolute;
    top: calc(0px - var(--spacing) - 0.8em);
    left: -10%;
}

nav img {
    width: 2.2em;
}

body {
    background-color: var(--color-bg);
    padding-bottom: 15vh;
    position: relative;
    min-height: 100%;
}

.base-header {
    margin-left: 2.5em;
}

main {
    padding-left: var(--spacing-2);
    padding-right: var(--spacing-2);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    position: absolute;
    bottom: var(--spacing-half);
    width: 180px;
    left: calc(50% - 80px);
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    font-family: var(--font-secondary);
}

.rss {
    width: 0.9em;
    height: 0.9em;
    fill: var(--color-primary);
}

@media (max-width: 680px) {
    html {
        font-size: 15px;
    }

    body {
        padding-left: var(--spacing);
        padding-right: var(--spacing);
    }

    nav a {
        font-size: 0.8em;
    }
}

/* ANCHOR index below */

.index-h1 {
    text-align: center;
    font-size: 3.2em;
    margin-top: var(--spacing-4);
}

.description {
    text-align: center;
    color: var(--color-secondary);
    margin-top: var(--spacing-half);
    margin-bottom: var(--spacing);
    font-size: 1.4em;
    font-family: var(--font-functional);

}

.postlist {
    padding: var(--spacing) 0;
    border-top: 1px solid var(--color-divider);

}

.postlist h2 {
    font-size: 1.7em;
    line-height: 1.2;
}

.postlist .info {
    font-size: 1.2em;
    margin: var(--spacing-half) 0;
    font-family: var(--font-functional);
    color: var(--color-secondary);
}

.postlist .text {
    font-size: 1em;
    line-height: 1.7;
    font-family: var(--font-primary);
}

@media (max-width: 680px) {
    .postlist h2 {
        font-size: 1.5em;
    }
}

/* ANCHOR post below */

.post-header {
    margin-top: 12vh;
    position: relative;
    padding-bottom: var(--spacing);
    margin-bottom: var(--spacing);
    font-family: var(--font-secondary);
}

.post-title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 3em;
    line-height: 1.2;
    text-align: left;
}

.post-header::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 8rem;
    height: 1px;
    background: var(--color-divider);
}

.post-info {
    font-size: 1.15em;
    font-family: var(--font-functional);
}

.post-info-p {
    margin-top: 8px;
}

p + p {
    margin-top: var(--spacing);
}

h1 {
    font-size: 2em;
    margin-top: var(--spacing);
}

h2 {
    font-size: 1.8em;
    margin-bottom: var(--spacing-half);
    margin-top: var(--spacing-half);
}

h3 {
    font-size: 1.6em;
    margin-bottom: var(--spacing-half);
    margin-top: var(--spacing-half);
}

h4 {
    font-size: 1.4em;
    margin-bottom: var(--spacing-half);
    margin-top: var(--spacing-half);
}

h5 {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: var(--spacing-half);
    margin-top: var(--spacing-half);
}

h6 {
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: var(--spacing-half);
    margin-top: var(--spacing-half);
}

blockquote {
    font-family: var(--font-quote);
    border-left: solid 4px var(--color-accent);
    padding: 0.2em 0 0.2em var(--spacing-half);
    margin-bottom: var(--spacing-half);
    margin-top: var(--spacing-half);
    line-height: 1.7em;
}

strong {
    font-family: var(--font-bold);
}

em {
    font-family: var(--font-functional);
    font-size: 1.2em;
}

/* ANCHOR tag pages below */

.toparticle {
    font-size: 1.2em;
    color: var(--color-accent);
    position: relative;
}

.toparticle::after {
    content: '';
    position: absolute;
    right: -1.25em;
    top: 50%;
    width: 1rem;
    height: 2px;
    background: var(--color-divider);
}

.toptag {
    font-size: 1.2em;
    color: var(--color-secondary);
    margin-left: 1.5em;
    text-transform: capitalize;
}

.tag-header {
    margin-top: 12vh;
    position: relative;
    padding-bottom: var(--spacing);
    margin-bottom: var(--spacing);
}

.tag-description {
    color: var(--color-secondary);
    font-family: var(--font-secondary);
}

.tag-title {
    font-size: 3em;
    line-height: 1.2;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

/* ANCHOR Author list below */

.author-item {
    height: 8em;
    border: var(--color-secondary) 1px solid;
    display: grid;
    grid-template-columns: 7fr 3fr;
    margin-bottom: var(--spacing-2);
}

.author-item div {
    padding: var(--spacing-half);
}

.author-item img {
    height: calc(8em - 2px);
}