*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	font-size: 20px;
}
html:focus-within {
	scroll-behavior: smooth;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

:target {
	scroll-margin-top: 2em;
}

/* The above is the "css reset" component provided by Alex. It can help to unify the visual experience across devices. */
/* ----------------------------------------------------- */

/* ANCHOR base below */

:root {
	--font-primary: "Raleway", sans-serif;
	--font-secondary: "Libre Baskerville", serif;
	--font-functional: "Redressed", cursive;
	--font-quote: "Courgette", cursive;
	--font-bold: "Rowdies", cursive;
	--color-primary: #222426;
	--color-secondary: #73777d;
	--color-accent: #d29d00;
	--color-bg: hsla(60, 100%, 99%, 1);
	--color-bg-secondary: #f7f8fa;
	--color-divider: #e1e3e6;
	--icon-hover: color 0.3s ease-out;
	--line-height: 1.6rem;
	--spacing-half: calc(var(--line-height) / 2);
	--spacing: var(--line-height);
	--spacing-2: calc(var(--line-height) * 2);
	--spacing-3: calc(var(--line-height) * 3);
	--spacing-4: calc(var(--line-height) * 4);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-primary: #e1e3e6;
		--color-secondary: #909499;
		--color-accent: #d29d00;
		--color-bg: #222426;
		--color-bg-secondary: #1d1f20;
		--color-divider: #3b3d40;
	}
}

html {
	font-family: var(--font-primary);
	color: var(--color-primary);
	line-height: var(--line-height);
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-secondary);
	line-height: 1.5;
}

p {
	line-height: 1.7;
}

a {
	text-decoration: none;
	color: var(--color-primary);
	transition: var(--icon-hover);
}

a:hover {
	color: var(--color-accent);
}

nav {
	display: flex;
	align-items: center;
	font-family: var(--font-secondary);
	margin-left: 2.2rem;
}

nav a {
	margin-right: var(--spacing-half);
	color: var(--color-secondary);
	font-size: 0.8em;
	font-weight: bold;
	line-height: 1;
}

nav a:last-child {
	margin-right: 0;
}

nav a.active {
	color: var(--color-primary);
	position: relative;
}

nav a.active::before {
	content: "";
	width: 110%;
	height: 3px;
	background: var(--color-accent);
	position: absolute;
	top: calc(0px - 2em - 7px);
	left: -5%;
}

.base-header {
	display: flex;
	height: 4.8em;
	align-items: center;
	margin-left: 2.2rem;
	position: relative;
}

.base-header img {
	width: 2.1em;
}

body {
	background-color: var(--color-bg);
	padding-bottom: 15vh;
	position: relative;
	min-height: 100%;
}

main {
	margin-top: 11vh;
	max-width: max(70vw, 700px);
	margin-left: auto;
	margin-right: auto;
}

footer {
	position: absolute;
	bottom: var(--spacing-half);
	left: calc(50% - 80px);
	font-size: 0.9em;
	display: flex;
	align-items: center;
}

footer p {
	font-family: var(--font-secondary);
	color: var(--color-secondary);
}

footer svg {
	width: 1.25em;
	height: 1.25em;
	color: var(--color-secondary);
	margin-left: var(--spacing-half);
	transition: color 0.3s ease-out;
}

footer svg:hover {
	color: var(--color-accent);
}

.blur {
	filter: blur(5px);
}

@media (prefers-color-scheme: dark) {
	footer p {
		color: var(--color-secondary);
	}

	.rss {
		fill: var(--color-secondary);
	}
}

@media (max-width: 700px) {
	html {
		font-size: 15px;
	}

	.base-header {
		margin-left: var(--spacing);
		margin-right: var(--spacing);
		border-bottom: var(--color-divider) solid 1px;
	}

	nav {
		justify-content: space-between;
		width: 100%;
		margin-left: 0;
	}

	nav a {
		font-size: 0.75em;
	}

	.base-header img {
		display: none;
	}

	main {
		margin-top: 8vh;
		margin-left: var(--spacing);
		margin-right: var(--spacing);
	}
}

/* ANCHOR index below */

.index-h1 {
	text-align: center;
	font-size: 3.2em;
}

.description {
	text-align: center;
	color: var(--color-secondary);
	margin-top: var(--spacing-half);
	margin-bottom: var(--spacing);
	font-size: 1.4em;
	font-family: var(--font-functional);
}

.postlist {
	padding: var(--spacing) 0;
	border-bottom: 1px solid var(--color-divider);
}

.postlist:first-of-type {
	border-top: 1px solid var(--color-divider);
}

.postlist h2 {
	font-size: 1.5em;
	line-height: 1.2;
}

.postlist .info {
	font-size: 1.1em;
	margin: var(--spacing-half) 0;
	font-family: var(--font-functional);
	color: var(--color-secondary);
}

.postlist .text {
	font-size: 1em;
	line-height: 1.7;
	font-family: var(--font-primary);
}

@media (prefers-color-scheme: dark) {
	.index-h1 {
		color: var(--color-accent);
	}
}

@media (max-width: 700px) {
	.postlist h2 {
		font-size: 1.5em;
	}
}

/* ANCHOR post below */

.post-header {
	position: relative;
	padding-bottom: var(--spacing);
	margin-bottom: var(--spacing);
	font-family: var(--font-secondary);
}

.post-title {
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 3em;
	line-height: 1.3;
	text-align: left;
}

.post-header::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 8rem;
	height: 1px;
	background: var(--color-divider);
}

.post-info {
	font-size: 1.15em;
	font-family: var(--font-functional);
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: fit-content;
}

.post-info div {
	margin-left: var(--spacing-half);
}

.post-info img {
	width: 3.35rem;
	height: 3.35rem;
	border-radius: 50%;
	border: 2px solid var(--color-accent);
}

.post-info p {
	margin-top: 0px;
}

@media (max-width: 700px) {
	.post-title {
		font-size: 2em;
	}
}

/* ANCHOR markdown below */

p + p {
	margin-top: var(--spacing);
}

h1 {
	font-size: 2em;
	margin-top: var(--spacing);
}

h2 {
	font-size: 1.8em;
	margin-bottom: var(--spacing-half);
	margin-top: var(--spacing);
}

h3 {
	font-size: 1.6em;
	margin-bottom: var(--spacing-half);
	margin-top: var(--spacing);
}

h4 {
	font-size: 1.4em;
	margin-bottom: var(--spacing-half);
	margin-top: var(--spacing);
}

h5 {
	font-size: 1.2em;
	font-weight: 500;
	margin-bottom: var(--spacing-half);
	margin-top: var(--spacing);
}

h6 {
	font-size: 1.1em;
	font-weight: 500;
	margin-bottom: var(--spacing-half);
	margin-top: var(--spacing);
}

blockquote {
	font-family: var(--font-quote);
	border-left: solid 4px var(--color-accent);
	padding: 0.2em 0 0.2em var(--spacing-half);
	margin-bottom: var(--spacing-half);
	margin-top: var(--spacing-half);
	line-height: 1.7em;
}

figure img {
	margin-top: 2em;
}

figure figcaption {
	font-family: var(--font-quote);
	color: var(--color-secondary-text);
	font-size: 0.8em;
	line-height: 1.4;
	margin-top: 1em;
	margin-bottom: 2em;
	text-align: center;
}

strong {
	font-family: var(--font-bold);
}

em {
	font-family: var(--font-functional);
	font-size: 1.2em;
	line-height: 1.5;
}

ul li {
	font-size: 0.8em;
	font-family: var(--font-secondary);
	margin-bottom: 0.3em;
}

@media (max-width: 700px) {
	ol,
	ul {
		list-style: inside;
		padding: 0;
	}
}

/* ANCHOR tag pages below */

.toparticle {
	font-size: 1.2em;
	color: var(--color-accent);
	position: relative;
	font-family: var(--font-secondary);
}

.toparticle::after {
	content: "";
	position: absolute;
	right: -1.25em;
	top: 50%;
	width: 1rem;
	height: 2px;
	background: var(--color-divider);
}

.toptag {
	font-size: 1.2em;
	color: var(--color-secondary);
	margin-left: 1.5em;
	text-transform: capitalize;
	font-family: var(--font-secondary);
}

.tag-header {
	position: relative;
	padding-bottom: var(--spacing);
	margin-bottom: var(--spacing);
}

.tag-description {
	color: var(--color-secondary);
	font-family: var(--font-secondary);
}

.tag-title {
	font-size: 3em;
	line-height: 1.2;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	text-transform: capitalize;
	font-family: var(--font-secondary);
}

/* ANCHOR authors list below */

.authors-title {
	font-size: 3em;
	line-height: 1.2;
}

.authors-list {
	margin-top: var(--spacing-3);
}

.authors-item {
	height: 10em;
	border: var(--color-divider) 1px solid;
	display: grid;
	grid-template-columns: 7fr 3fr;
	margin-bottom: var(--spacing-2);
	background-color: var(--color-bg-secondary);
}

.authors-item div:first-child {
	padding: var(--spacing-half);
}

.authors-item img {
	height: calc(10em - 2px);
	object-fit: cover;
}

.authors-item-name {
	margin-top: var(--spacing-half);
	font-family: var(--font-secondary);
	font-size: 0.9em;
}

.authors-item-location {
	font-family: var(--font-functional);
}

.authors-item-bio {
	font-family: var(--font-functional);
}

/* ANCHOR author below */

.author-title {
	font-size: 2.7em;
	line-height: 1.2;
	text-align: left;
	margin-top: var(--spacing);
	margin-bottom: var(--spacing);
}

.profile-img {
	width: 3.35rem;
	height: 3.35rem;
	border-radius: 50%;
	border: 2px solid var(--color-accent);
	margin-right: 20px;
	margin-top: var(--spacing);
	margin-bottom: var(--spacing);
}

.author-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: fit-content;
}

.author-header {
	position: relative;
	padding-bottom: var(--spacing);
}

.author-bio {
	color: var(--color-secondary);
	font-family: var(--font-secondary);
}

.author-header:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 8rem;
	height: 2px;
	background: var(--color-divider);
}

.social-media {
	margin-top: var(--spacing);
}

.social-media svg {
	height: 1.4rem;
	width: 1.4rem;
	color: var(--color-secondary);
	display: inline;
	margin-right: var(--spacing-half);
	transition: var(--icon-hover);
}

.social-media svg:hover {
	color: var(--color-accent);
}

.authorpage section {
	border-top: none !important;
}

@media (max-width: 700px) {
	.author-title {
		font-size: 2em;
	}
}
