---
pagination: 
    data: authors.authors
    size: 1
permalink: "/authors/{{pagination.items[0].slug}}/"
layout: base.njk
---
<main class="authorpage">
    {% set posts = ghost.posts|authorfilter(pagination.items[0].slug) %}
    <header class="author-header">
        <p><span class="toparticle">Author</span><span class="toptag">{{posts.length}} Posts</span></p>
        <div class="author-div">
            <img class="profile-img" src="{{pagination.items[0].profile_image}}"/>
            <h1 class="author-title">{{pagination.items[0].name}}</h1>
        </div>
        <p class="author-bio">{{pagination.items[0].bio}}</p>
    </header>

    {% for post in posts %}
        {% include "post.njk" %}
    {% endfor %}
</main>