---
permalink: /
layout: base.njk
---
<main>
    <h1 class="index-h1">{{settings.settings.title}}</h1>
    <p class="description">{{settings.settings.description}}</p>

    {% for post in ghost.posts %}
        {% include "post.njk" %}
    {% endfor %}
</main>