---
pagination: 
    data: ghost.posts
    size: 1
permalink: "/{{pagination.items[0].slug}}/"
layout: base.njk
---
{% set post = pagination.items[0] %}
<header class="post-header">
    <p><span class="toparticle">Article</span><span class="toptag">{{post.primary_tag.name}}</span></p>

    <h1 class="post-title">{{post.title}}</h1>

    <section class="post-info">
        <p>{{post.primary_author.name}}</p>
        <p>{{post.published_at|ghostdate}} • {{post.reading_time}} mins</p>
    </section>
</header>

{{post.html|fuckbr|hnormalize|safe}}
