---
permalink: "rss.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ settings.settings.title }}</title>
  <link href="{{ meta.rss }}" rel="self"/>
  <link href="{{ meta.url }}"/>
  <updated>{{ ghost.posts[0].updated_at }}</updated>
  <id>{{ meta.url }}</id>
  <author>
    <name>{{ meta.author.name }}</name>
    <email>{{ meta.author.email }}</email>
  </author>
  {%- for post in ghost.posts %}
  <entry>
    <title>{{ post.title }}</title>
    <link href="{{meta.url}}/{{post.slug}}/"/>
    <updated>{{post.date}}</updated>
    <id>{{meta.url}}/{{post.slug}}/</id>
    <content type="html">{{post.html|fuckbr}}</content>
  </entry>
  {%- endfor %}
</feed>